body {
  text-align: center;
}
#statusline {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 60vw;
  height: 2em;
  background-color: #dadada;
}
#statusline.ok {
  background-color: #abffab;
}
#statusline.error {
  background-color: #ffabab;
}
#game {
  width: 80vh;
  height: 80vh;
}
.aviable rect {
  fill: #dbdbdb !important;
}
.aviable rect:hover {
  fill: #8c8c8c !important;
  cursor: pointer;
}
.empty circle {
  visibility: hidden;
}
.empty rect {
  fill: none;
}
.fpoint circle {
  fill: #ff0000;
}
.fpoint rect {
  fill: none;
}
.spoint circle {
  fill: #0000ff;
}
.spoint rect {
  fill: none;
}
.facomm circle {
  visibility: hidden;
}
.facomm rect {
  fill: #ff0000;
}
.sacomm circle {
  visibility: hidden;
}
.sacomm rect {
  fill: #0000ff;
}
.fdcomm circle {
  visibility: hidden;
}
.fdcomm rect {
  fill: #990000;
}
.sdcomm circle {
  visibility: hidden;
}
.sdcomm rect {
  fill: #000099;
}
